* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #006900;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background-image: url("https://i.redd.it/ntx9n25u0se11.jpg");
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
    padding: 0px 15px 15px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin-top: 15px;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    padding: 20px;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /* Main column */
  .main {   
    flex: 70%;
    padding: 20px;
  }

  h2, h3{
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* Footer */
  .footer {
    padding: 15px;
    text-align: center;
    background: #333;
  }

  /* logo triology */
.left {
  width: 50px;
  float: left;
  margin-top: 15px;
}
 /* logo triology */
.right {
  width: 50px;
  float: right;
  margin-top: 15px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
}

input[type=submit] {
  background-color: #006900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container3 {
  border-radius: 5px;
  background-color: #333;
  padding: 20px;
}

table, th, td {
  border: 1px solid black;
  width: 1000px;
  padding: 15px;
}

table.center1 {
  margin-left: auto; 
  margin-right: auto;
}

.center1 tr:nth-child(odd) {
  background-color: yellow;
}