* {
    box-sizing: border-box;
}

/* Gaming Title */
.container {
    position: relative;
    text-align: center;
}

h1 {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    margin: 0 10%;
}

body {
    background: grey;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h2 {
    color: orange;
}

/* Navigation Bar */
nav {
    width: 100%;
    height: 60px;
    background: black;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    padding:  10px 10px;
    color: orange;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
    transition-duration: 1s;
}

/* Grid template */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 0.5%;
    width: 100%;
    margin: 0.5% auto;
}

.item {
    background: black;
    text-align: center;
    padding: 5px;

}

h3 {
    color: black;
}

 /* transformation for the contact us icon */
.fa-comments {
    font-size: 100px;
    transform: rotatey(6turn);
    transition: transform 30s;
}

/* contact us form */
#message {
    width: 400px;
    margin:50px auto;
    position: relative;
}

#message fieldset {
    background: white;
    border: 0 none;
    box-shadow: 0 0 10px #333131;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

#message input, #message textarea{
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #9B9B9B;
    font-size: 16px;
}

/* Button for message form */
#message .submit {
    width: 100%;
    background: orange;
    font-family: montserrat;
    font-weight: bold;
    font-size: 24px;
    color: black;
    border: none;
    padding: 10px 5px;
    margin: 10px 5px ;
    text-align: center;
}

/* Footer with transition icon */
#footer {
    width: 100%;
    padding: 10px;
}

footer, a{
    background: black;
    color: orange;
    text-align: center;
}

footer a:hover{
    color: white;
    transition-duration: 1s;
}


